@charset "UTF-8";
.page {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.7142857143;
  color: var(--main-txt-cl);
  background-color: var(--accent-bg-cl);
  letter-spacing: 0.03em;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.label__thumb,
.check-text span,
.check-text,
.btn-close,
.connect__link,
.aspect__group,
.points__link,
.commun-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

:root {
  /*Font*/
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  /*Text colors*/
  --main-txt-cl: #212121;
  --secondary-txt-cl: #757575;
  --white-title-cl: #ffffff;
  /*Logo colors*/
  --first-logo-cl: #2196f3;
  --dark-logo-cl: #000000;
  --light-logo-cl: #ffffff;
  /*LINK colors*/
  --link-hvr-cl: #2196f3;
  --link-nav-cl: #212121;
  --contacts-hdr-cl: #757575;
  --contacts-ftr-cl-60: rgba(255, 255, 255, 0.6);
  --adress-ftr-cl: #ffffff;
  /*Background colors*/
  --accent-bg-cl: #ffffff;
  --dark-bg-cl: #2f303a;
  --light-bg-cl: #f5f4fa;
  /*Button hero*/
  --hero-btn-cl: #2196f3;
  --hero-border: 1px solid #2196f3;
  --hero-btn-txt: #ffffff;
  --btn-radius: 4px;
  --hero-btn-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --hero-hv-cl: #188ce8;
  --modal-bg-hero: rgba(0, 0, 0, 0.2);
  --modal-border-radius: 4px;
  --modal-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --vector-border-modal: rgba(0, 0, 0, 0.1);
  /*Button portfolio*/
  --btn-bg-hover: #2196f3;
  --btn-text-hover: #ffffff;
  --btn-bg-cl: #f5f4fa;
  --btn-txt-cl: #212121;
  --btn-shadow-hv: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  /*Teams link*/
  --teams-bg: #ffffff;
  --teams-link-title: #212121;
  --teams-border-radius: 0px 0px 4px 4px;
  --teams-border-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  /*Other*/
  --portfolio-cards-border: 1px solid #eeeeee;
  --portfolio-shadow-hv: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  --portfolio-box-bg: rgba(33, 150, 243, 0.9);
  --header-border: 1px solid #ececec;
  --feature-icon-bg: #f5f4fa;
  --clients-icon-cl: #afb1b8;
  --social-icon-cl: #afb1b8;
  --social-link-bg: #2196f3;
  --social-hv-icon: #ffffff;
  --public-ftr-cl: #ffffff;
  --public-ftr-bg: rgba(255, 255, 255, 0.1);
  --public-hv-bg: #2196f3;
  /*Animation*/
  --anim-fast-hv: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  text-decoration: none;
}

.logo--color-dark {
  color: var(--dark-logo-cl);
}

.logo--color-light {
  color: var(--light-logo-cl);
}

.footer {
  background-color: var(--dark-bg-cl);
}

.footer__section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.header {
  border-bottom: var(--header-border);
}

.header__container {
  display: flex;
  align-items: center;
}

.portfolio__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.commun-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.commun-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.commun-link--color-light {
  color: var(--social-icon-cl);
  transition: background-color var(--anim-fast-hv), color var(--anim-fast-hv);
}
.commun-link--color-light:hover,
.commun-link--color-light:focus {
  background-color: var(--social-link-bg);
  color: var(--social-hv-icon);
}

.commun-link--color-grey {
  color: var(--public-ftr-cl);
  background-color: var(--public-ftr-bg);
  transition: background-color var(--anim-fast-hv);
}
.commun-link--color-grey:hover,
.commun-link--color-grey:focus {
  background-color: var(--public-hv-bg);
}

.social {
  gap: 10px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  margin: -1px;
}

/*Clients*/
.clients__title {
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  margin-bottom: 50px;
}

.clients__points {
  display: flex;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  gap: 30px;
}

.points__item {
  flex-basis: calc((100% - 150px) / 6);
}

.points__link {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  height: 92px;
  color: var(--clients-icon-cl);
  transition: color var(--anim-fast-hv), border-color var(--anim-fast-hv);
}
.points__link:hover,
.points__link:focus {
  color: var(--link-hvr-cl);
  border-color: var(--link-hvr-cl);
}

.points__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

/*Особливості*/
.feature__container {
  display: flex;
}

.feature__aspect {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  gap: 30px;
}

.aspect__item {
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style: none;
}
@media screen and (min-width: 768px) {
  .aspect__item {
    max-width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .aspect__item {
    max-width: calc((100% - 120px) / 4);
  }
}

.aspect__group {
  height: 120px;
  background-color: var(--feature-icon-bg);
  border-radius: 4px;
  margin-bottom: 30px;
}

.aspect__icon {
  width: 70px;
  height: 70px;
}

.aspect__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .aspect__title {
    text-align: center;
  }
}

.aspect__text {
  color: var(--secondary-txt-cl);
}

.footer__address {
  margin-top: 20px;
}

.address__contacts {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.contacts__item {
  list-style: none;
}
.contacts__item:not(:last-child) {
  margin-bottom: 6px;
}

.contacts__link-maps {
  font-style: normal;
  text-decoration: none;
  color: var(--adress-ftr-cl);
  transition: color var(--anim-fast-hv);
}
.contacts__link-maps:hover,
.contacts__link-maps:focus {
  color: var(--link-hvr-cl);
}

.contacts__link {
  text-decoration: none;
  font-style: normal;
  color: var(--contacts-ftr-cl-60);
}
.contacts__link:hover,
.contacts__link:focus {
  color: var(--link-hvr-cl);
}

.footer__public {
  margin-left: 93px;
}

.public__title {
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: var(--public-ftr-cl);
  margin-bottom: 20px;
}

.public__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.footer__subscribe {
  margin-left: 93px;
}

.subscribe__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.send-form__input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: var(--dark-bg-cl);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: none;
  color: var(--white-title-cl);
  font-size: 16px;
  line-height: 1.25;
}

.send-form__btn {
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 4px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  transition: background-color var(--anim-fast-hv);
}
.send-form__btn:hover,
.send-form__btn:focus {
  background-color: #188ce8;
  cursor: pointer;
}

.send-form__icon {
  margin-left: 10px;
  fill: currentColor;
}

nav {
  margin-left: 93px;
}

.navigation__menu {
  display: flex;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.menu__item {
  list-style: none;
}
.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 31px;
  text-decoration: none;
  color: var(--link-nav-cl);
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  position: relative;
  transition: color var(--anim-fast-hv);
}
.menu__link:hover,
.menu__link:focus {
  color: var(--link-hvr-cl);
}

.header__connect {
  display: flex;
  padding: 0;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.connect__item {
  list-style: none;
}
.connect__item:not(:last-child) {
  margin-right: 50px;
}

.connect__link {
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 31px;
  text-decoration: none;
  color: var(--contacts-hdr-cl);
  gap: 10px;
  transition: color var(--anim-fast-hv);
}
.connect__link:hover,
.connect__link:focus {
  color: var(--link-hvr-cl);
}

.connect__svg {
  fill: currentColor;
}

.current {
  color: var(--link-hvr-cl);
}
.current::after {
  content: '';
  display: inline-flex;
  width: 100%;
  height: 4px;
  background-color: var(--link-hvr-cl);
  position: absolute;
  bottom: -1px;
  left: 0;
  border-radius: 2px;
  border: none;
}

.accent {
  color: var(--first-logo-cl);
}

.hero {
  background-color: var(--dark-bg-cl);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero.jpg');
  max-width: 1600px;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

.hero__title {
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636363636;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-title-cl);
  margin: 0 auto;
}

.hero__btn {
  min-width: 216px;
  min-height: 50px;
  cursor: pointer;
  transition: background-color var(--anim-fast-hv);
  padding: 9px 31px;
  margin-top: 30px;
  border: none;
  border-radius: var(--btn-radius);
  box-shadow: var(--hero-btn-shadow);
  color: var(--hero-btn-txt);
  background-color: var(--hero-btn-cl);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
}
.hero__btn:hover,
.hero__btn:focus {
  background-color: var(--hero-hv-cl);
}

/*Modal window hero*/
.hero-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-bg-hero);
  z-index: 1000;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-modal {
  position: absolute;
  padding: 40px;
  width: 528px;
  height: 581px;
  background-color: var(--accent-bg-cl);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: var(--modal-border-radius);
  box-shadow: var(--modal-shadow);
}

.btn-close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--vector-border-modal);
  background-color: var(--accent-bg-cl);
  cursor: pointer;
  transition: fill var(--anim-fast-hv);
}
.btn-close:hover,
.btn-close:focus {
  fill: #2196f3;
}

.hero-backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-title {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 12px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 11px 12px;
  padding-left: 42px;
  outline: transparent;
  cursor: pointer;
}
.modal-input:focus {
  border-color: #2196f3;
}

.modal-field:not(:last-child) {
  margin-bottom: 10px;
}

.modal-agree {
  margin-bottom: 30px;
}

.input-wrap {
  position: relative;
}

.modal-input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.modal-input:focus + .modal-input-icon {
  fill: #2196f3;
}

.input-label {
  color: var(--secondary-txt-cl);
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  text-align: left;
  display: block;
  margin-bottom: 4px;
}

.modal-comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  resize: none;
  cursor: pointer;
  display: block;
}
.modal-comment:focus {
  border-color: #2196f3;
}
.modal-comment::-moz-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-comment:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-comment::placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.field-comment {
  margin-bottom: 20px;
}

.btn-modal {
  width: 200px;
  height: 50px;
  align-items: center;
  text-align: center;
  background-color: #2196f3;
  color: var(--white-title-cl);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color var(--anim-fast-hv);
}
.btn-modal:hover,
.btn-modal:focus {
  background-color: #188ce8;
}

.check-text {
  color: var(--secondary-txt-cl);
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
}

.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
  margin-right: 8px;
  fill: transparent;
}
.input-check:checked + .check-text span {
  background-color: #2196f3;
  border: transparent;
  fill: #fff;
}

.link-agree {
  color: #2196f3;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  margin-left: 6px;
}

/*Портфоліо*/
.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__filter {
  display: flex;
  margin-top: 0;
  margin-bottom: 50px;
  padding-left: 0;
  flex-wrap: wrap;
  list-style: none;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__btn {
  border-radius: 4px;
  border: none;
  padding: 6px 21px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  font-family: inherit;
  background-color: var(--btn-bg-cl);
  transition: background-color var(--anim-fast-hv), color var(--anim-fast-hv),
    box-shadow var(--anim-fast-hv);
}
.filter__btn:hover,
.filter__btn:focus {
  background-color: var(--btn-bg-hover);
  color: var(--btn-text-hover);
  box-shadow: var(--btn-shadow-hv);
}

.portfolio__cards {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.cards__item {
  width: 370px;
}

.cards__link {
  display: block;
  text-decoration: none;
  color: inherit;
  transition: box-shadow var(--anim-fast-hv);
}
.cards__link:hover,
.cards__link:focus {
  box-shadow: var(--portfolio-shadow-hv);
}

.cards__text {
  font-size: 16px;
  line-height: 1.875;
  color: var(--secondary-txt-cl);
  margin-top: 4px;
}

.cards__group {
  padding: 20px 24px 19px 24px;
  border-left: var(--portfolio-cards-border);
  border-right: var(--portfolio-cards-border);
  border-bottom: var(--portfolio-cards-border);
}

.cards__thumb {
  position: relative;
  overflow: hidden;
}

.cards__overlay {
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform var(--anim-fast-hv);
  background-color: var(--portfolio-box-bg);
  padding-left: 24px;
  padding-right: 24px;
}
.cards__link:hover .cards__overlay {
  transform: translateY(0);
}

.cards__description {
  font-size: 18px;
  line-height: 2;
  color: var(--white-title-cl);
}

.cards__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.teams {
  background-color: var(--light-bg-cl);
}

.teams__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
}

.teams__members {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  gap: 30px;
}

.members__item {
  display: flex;
  flex-direction: column;
  /*width: 270px;*/
  width: 100%;
  border-radius: var(--teams-border-radius);
  box-shadow: var(--teams-border-shadow);
}
@media screen and (min-width: 768px) {
  .members__item {
    max-width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .members__item {
    max-width: calc((100% - 120px) / 4);
  }
}

.members__group {
  background-color: var(--teams-bg);
  border-radius: var(--teams-border-radius);
  padding: 30px 32px;
}

.members__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
}

.members__text {
  margin-top: 10px;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.1875;
  color: var(--secondary-txt-cl);
  text-align: center;
}

.members__social {
  display: flex;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

/*Чим ми займаємось*/
.work {
  padding-top: 0;
}
@media screen and (max-width: 1200px) {
  .work {
    display: none;
  }
}

.work__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
}

.work__label {
  display: flex;
  margin-top: 50px;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.label__item {
  position: relative;
}
.label__item:not(:last-child) {
  margin-right: 30px;
}

.label__title {
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: var(--white-title-cl);
  text-align: center;
}

.label__thumb {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
} /*# sourceMappingURL=main.css.map */
