.footer {
    background-color: var(--dark-bg-cl);
}

.footer__section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer__container {
    display: flex;
    @media screen and (max-width:1199px) {
    flex-direction: column;
    }
}