/*Modal window hero*/
.hero-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--modal-bg-hero);
    z-index: 1000;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-modal {
    position: absolute;
    padding: 40px;
    width: 450px;
    height: 609px;
    background-color: var(--accent-bg-cl);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: var(--modal-border-radius);
    box-shadow: var(--modal-shadow);

    @include desktop {
        width: 528px;
        height: 581px;
    }
}

.btn-close {
    position: absolute;
    right: 8px;
    top: 8px;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid var(--vector-border-modal);
    background-color: var(--accent-bg-cl);

    @extend %list;
    cursor: pointer;
    transition: fill var(--anim-fast-hv);
    &:hover,
    &:focus {
            fill: #2196f3;
    }
}

.hero-backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal-title {
    text-align: center;
    @include font(700, 20px, calc(23 / 20), null);
    margin-bottom: 12px;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 11px 12px;
    padding-left: 42px;
    outline: transparent;
    cursor: pointer;
    &:focus {
        border-color: #2196f3;
    }
}

.modal-field:not(:last-child) {
    margin-bottom: 10px;
}

.modal-agree {
    margin-bottom: 30px;
}

.input-wrap {
    position: relative;
}

.modal-input-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    .modal-input:focus+& {
        fill: #2196f3;
    }
}

.input-label {
    color: var(--secondary-txt-cl);
    @include font(null, 12px, calc(14 / 12), 0.01em);
    text-align: left;
    display: block;
    margin-bottom: 4px;
}

.modal-comment {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    resize: none;
    cursor: pointer;
    display: block;
    &:focus {
        border-color: #2196f3;
    }
    &::placeholder {
        @include font(null, 12px, calc(14 / 12), 0.01em);
        color: rgba(117, 117, 117, 0.5);
    }
}

.field-comment {
    margin-bottom: 20px;
}

.btn-modal {
    width: 200px;
    height: 50px;
    align-items: center;
    text-align: center;
    background-color: #2196f3;
    color: var(--white-title-cl);
    @include font(700, 16px, calc(30 / 16), 0.06em);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color var(--anim-fast-hv);
    &:hover,
    &:focus {
        background-color: #188ce8;
    }
}

.check-text {
    color: var(--secondary-txt-cl);
    @include font(null, 14px, calc(24 / 14), 0.03em);
    @extend %list;

    font-size: 12px;
    line-height: 14px;
        letter-spacing: 0.03em;
            @include desktop {
                max-width: 1200px;
            }
}

.check-text span {
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 4px;
    margin-right: 8px;
    @extend %list;
    fill: transparent;
    .input-check:checked+& {
        background-color: #2196f3;
        border: transparent;
        fill: #fff;
    }
}

.link-agree {
    color: #2196f3;
    @include font(null, 14px, calc(24 / 14), 0.03em);
    margin-left: 6px;
}